@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

h2 {
    font: 20px 'Open Sans';
}

svg {
  font: 14px 'Open Sans';
}

.disabled {
    visibility: hidden;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #000;
}

.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

.axis.x .tick line {
  stroke: none;
}

.area {
  stroke-width: 1;
}

.area.outer,
.legend .outer {
  fill: hsla(240, 100%, 95%, 0.5);
  <!-- stroke: rgba(216, 216, 255, 0.5); -->
}

.median-line,
.legend .median-line {
  fill: none;
  stroke: hsla(240, 100%, 75%, 1);
  stroke-width: 3;
}

.legend .legend-bg {
  fill: rgba(0, 0, 0, 0.5);
  stroke: rgba(0, 0, 0, 0.5);
}

.marker.client .marker-bg,
.marker.client path {
  fill: rgba(255, 127, 0, 0.8);
  stroke: rgba(255, 127, 0, 0.8);
  stroke-width: 3;
}

.marker.server .marker-bg,
.marker.server path {
  fill: rgba(0, 153, 51, 0.8);
  stroke: rgba(0, 153, 51, 0.8);
  stroke-width: 3;
}

.marker path {
  fill: none;
}

.legend text,
.marker text {
  fill: #fff;
  font-weight: bold;
}

.marker text {
  text-anchor: middle;
}

.zeroCrossing {
    stroke-width: 1;
    stroke-dashArray: 2;
    stroke: black;
}

.labels {
    margin-bottom: 50px;
}

.toggle {
    display: block;
    padding: 5px;
    float: left;
    margin-right: 10px;
    border: 1px solid #aaa;
    cursor: pointer;
}

.toggle .swatch {
    display: block;
    height: 10px;
    width: 10px;
    float: left;
    margin: 5px 10px 5px 5px;
}

.toggle.off { color: #aaa; }
.toggle.off .swatch {
    background-color: #aaa !important;
}

.highlight { visibility: hidden; }